table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: center;
}

h1 {
  text-align:center
}

label {
  text-align:center;
  display: block
}

body {
  background-color: blanchedalmond;
}

form {
  text-align: center;

}